@charset "UTF-8";

////////////////////////////
// 変数
////////////////////////////

// 変数を設定する
:root {
  --main-color: red;
  --breakpoint: 900px;
  --commonFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,
    sans-serif;
}
