@charset "UTF-8";
//////////////////////////////////////////
// clearfix
//////////////////////////////////////////

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
