@charset "UTF-8";
@use 'sass:math';
//////////////////////////////////////////
// font-size
//////////////////////////////////////////

@mixin fs($font-size, $line-height:null, $letter-spacing:null){
  font-size: $font-size * 0.1rem;
  @if($line-height!=null){
    line-height: math.div($line-height, $font-size);
  }
  @if($letter-spacing!=null){
    letter-spacing: $letter-spacing * 0.1rem;
  }
}