@charset "UTF-8";

// 値が数字ならpxをつけて、それ以外ならつけない
@function checkArg($prop, $value) {
  @if $prop == null {
    @return null;
  }
  @if type-of($value)  == number {
    @return $value + px;
  }
  @return $value;
}

//////////////////////////////////////////
// position
//////////////////////////////////////////

// Usage
// @include absolute($t:10, $l:20);
// @include absolute($r:inherit, $b:20vw);

@mixin absolute($t:null, $r:null, $b:null, $l:null){
  position: absolute;

  $val : checkArg(top, $t);
  @if $val {
    top: $val;
  }

  $val : checkArg(right, $r);
  @if $val {
    right: $val;
  }

  $val : checkArg(bottom, $b);
  @if $val {
    bottom: $val;
  }

  $val : checkArg(left, $l);
  @if $val {
    left: $val;
  }

}

//////////////////////////////////////////
// relative
//////////////////////////////////////////

// Usage
// @include relative($t:10, $l:20);
// @include relative($r:inherit, $b:20vw);

@mixin relative($t:null, $r:null, $b:null, $l:null){
  position: relative;

  $val : checkArg(top, $t);
  @if $val {
    top: $val;
  }

  $val : checkArg(right, $r);
  @if $val {
    right: $val;
  }

  $val : checkArg(bottom, $b);
  @if $val {
    bottom: $val;
  }

  $val : checkArg(left, $l);
  @if $val {
    left: $val;
  }

}

//////////////////////////////////////////
// fixed
//////////////////////////////////////////

// Usage
// @include fixed($t:10, $l:20);
// @include fixed($r:inherit, $b:20vw);

@mixin fixed($t:null, $r:null, $b:null, $l:null){
  position: fixed;

  $val : checkArg(top, $t);
  @if $val {
    top: $val;
  }

  $val : checkArg(right, $r);
  @if $val {
    right: $val;
  }

  $val : checkArg(bottom, $b);
  @if $val {
    bottom: $val;
  }

  $val : checkArg(left, $l);
  @if $val {
    left: $val;
  }

}
