{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "window": "readonly",
    "global": "readonly",
    "$": "readonly",
    "TweenMax": "readonly",
    "TimelineMax": "readonly",
    "Power4": "readonly",
    "Back": "readonly",
    "commonModule": "readonly",
    "JSON_PATH": "readonly",
    "data": "readonly"
  },
  "plugins": [],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-console": [
      1
    ],
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "strict": [
      0,
      "global"
    ],
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "no-multi-spaces": [
      2
    ],
    "no-mixed-spaces-and-tabs": [
      2
    ],
    "semi": "error",
    "no-redeclare": [
      0
    ]
  }
}