<%
  const page = {
    id: 'detail',
    class: 'detail',
    title: 'detail title',
    description: 'top description',
    ogp: '/assets/img/hoge/ogp.png',
  }
%>
<%- include( relativePath + 'assets/include/_head', {page}); -%>
<%- include( relativePath + 'assets/include/_header', {page}); -%>
<div class="l-wrapper">
  <!-- contents start -->
  <div class="pg-detail">
    <h1>detail</h1>
    <p>My page</p>
    <div class="pg-detail__box">
      <div></div>
    </div>
  </div>
  <!-- contents end -->
</div>
<%- include( relativePath + 'assets/include/_footer',{page}); -%>
