<div class="p-card">
  <article class="p-card__child">
    <a class="p-card__link" href='/blog/detail/'>
      <div class="p-card__photo">
        <img src="/-assets/img/_dummy/thumb.png" alt="">
      </div>
      <div class="p-card__body">
        <time class="p-card__time">2021年4月11日</time>
        <ul class="p-card__tag">
          <li>#タグ1</li>
          <li>#タグ2</li>
        </ul>
        <h3 class="p-card__title">
          ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
        </h3>
      </div>
    </a>
  </article>
  <article class="p-card__child">
    <a class="p-card__link" href='/blog/detail/'>
      <div class="p-card__photo">
        <img src="/-assets/img/_dummy/thumb.png" alt="">
      </div>
      <div class="p-card__body">
        <time class="p-card__time">2021年4月11日</time>
        <ul class="p-card__tag">
          <li>#タグ1</li>
          <li>#タグ2</li>
        </ul>
        <h3 class="p-card__title">
          ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
        </h3>
      </div>
    </a>
  </article>
  <article class="p-card__child">
    <a class="p-card__link" href='/blog/detail/'>
      <div class="p-card__photo">
        <img src="/-assets/img/_dummy/thumb.png" alt="">
      </div>
      <div class="p-card__body">
        <time class="p-card__time">2021年4月11日</time>
        <ul class="p-card__tag">
          <li>#タグ1</li>
          <li>#タグ2</li>
        </ul>
        <h3 class="p-card__title">
          ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
        </h3>
      </div>
    </a>
  </article>
  <article class="p-card__child">
    <a class="p-card__link" href='/blog/detail/'>
      <div class="p-card__photo">
        <img src="/-assets/img/_dummy/thumb.png" alt="">
      </div>
      <div class="p-card__body">
        <time class="p-card__time">2021年4月11日</time>
        <ul class="p-card__tag">
          <li>#タグ1</li>
          <li>#タグ2</li>
        </ul>
        <h3 class="p-card__title">
          ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
        </h3>
      </div>
    </a>
  </article>
  <article class="p-card__child">
    <a class="p-card__link" href='/blog/detail/'>
      <div class="p-card__photo">
        <img src="/-assets/img/_dummy/thumb.png" alt="">
      </div>
      <div class="p-card__body">
        <time class="p-card__time">2021年4月11日</time>
        <ul class="p-card__tag">
          <li>#タグ1</li>
          <li>#タグ2</li>
        </ul>
        <h3 class="p-card__title">
          ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
        </h3>
      </div>
    </a>
  </article>
</div>
