@charset "UTF-8";
////////////////////////
// utility
////////////////////////

@use '../../global' as g;

.is-objectFit-cover{
  width:100%;
  height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover; object-position: bottom;';
}

.is-objectFit-contain{
  width:100%;
  height: 100%;
	object-fit: contain;
	font-family: 'object-fit: contain;';
}

.u-pcbr{
  @include g.pc{
    display:block;
  }
  @include g.sp{
    display:none;
  }
}

.u-spbr{
  @include g.pc{
    display:none;
  }
  @include g.sp{
    display:block;
  }
}

