<div class="p-list">
  <article class="p-list__child">
    <a class="p-list__link" href='/news/detail/'>
      <div class="p-list__info">
        <time>2021年4月11日</time>
        <span>お知らせ</span>
      </div>
      <h3 class="p-list__title">
        ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
      </h3>
    </a>
  </article>
  <article class="p-list__child">
    <a class="p-list__link" href='/news/detail/'>
      <div class="p-list__info">
        <time>2021年4月11日</time>
        <span>お知らせ</span>
      </div>
      <h3 class="p-list__title">
        ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
      </h3>
    </a>
  </article>
  <article class="p-list__child">
    <a class="p-list__link" href='/news/detail/'>
      <div class="p-list__info">
        <time>2021年4月11日</time>
        <span>お知らせ</span>
      </div>
      <h3 class="p-list__title">
        ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
      </h3>
    </a>
  </article>
</div>
