@charset "UTF-8";
//////////////////////////////////////////
// flex
//////////////////////////////////////////

@mixin flex($ai:null, $jc:null, $fw:null, $fd:null ){
  display:flex;
  @if $ai != null {
    align-items: $ai;
  }
  @if $jc != null {
    justify-content: $jc;
  }
  @if $fw != null {
    flex-wrap: $fw;
  }
  @if $fd != null {
    flex-direction: $fd;
  }
}
