@charset "UTF-8";
//////////////////////////////////////////
// font-family
//////////////////////////////////////////

@mixin fontBold {
  font-family: var(--commonFont);
  font-weight: 700;
}

@mixin fontBlack {
  font-family: var(--commonFont);
  font-weight: 900;
}
