@charset "UTF-8";
//////////////////////////////////////////
// font-family
//////////////////////////////////////////

@mixin noto1 {
  font-family: var(--commonFont);
  font-weight: 700;
}

@mixin noto2 {
  font-family: var(--commonFont);
  font-weight: 900;
}
