@charset "UTF-8";
////////////////////////
// detail
////////////////////////

@use '../global' as *;

.pg-detail {
  h1 {
    @include fs(30, 45);
  }
  p {
    @include fs(16, 30);
  }
}

.pg-detail__box {
  position: relative;
  & > div {
    width: 100px;
    height: 100px;
  }
  @include pc {
    & > div {
      background: pink;
    }
  }
  @include sp {
    & > div {
      background: blue;
    }
  }
}
