<!-- scripts -->
<%- include('_footer'); -%>
<!--/ scripts -->
<!-- scrollBtn -->
<button class="c-scrollBtn js-scrollTop"></button>
<!--/ scrollBtn -->
<!-- scripts -->
<%- include( '_scripts', {page, relativePath, time}); -%>
<!--/ scripts -->
</body>
</html>
