@charset "UTF-8";

////////////////////////////
// 変数
////////////////////////////

// ブレイクポイント1
$breakpoint:992px;

// ブレイクポイント2
$breakpoint2:768px;

// font
$commonFont: "Noto Sans Japanese", "YuGothic", "Yu Gothic","Meiryo", Hiragino Sans,Hiragino Kaku Gothic ProN, sans-serif;