@charset "UTF-8";
////////////////////////
// utility
////////////////////////

@use '../../global' as g;

.is-objectFit-cover{
  width:100%;
  height: 100%;
	object-fit: cover;
	object-position: bottom;
	font-family: 'object-fit: cover; object-position: bottom;';
}

.is-objectFit-contain{
  width:100%;
  height: 100%;
	object-fit: contain;
	font-family: 'object-fit: contain;';
}

.u-pcBr{

}

.u-spBr{

}