@charset "UTF-8";
////////////////////////
// footer
////////////////////////

.l-footer{
  height: 50px;
  background: #ccc;
  text-align: center;
  p{
    position: relative;
    top:50%;
    transform: translateY(-50%);
    font-size: 2rem;
  }
}

@include max-screen($bp1) {

}
