@charset "UTF-8";
////////////////////////
// detail
////////////////////////

@use '../global' as g;

.pg-detail{
  h1{
    @include g.fs(30, 45);
  }
  p{
    @include g.fs(16, 30);
  }
}

.pg-detail__box{
  position: relative;
  & > div{

    width:100px;
    height:100px;
  }
  @include g.pc{
    & > div{
      background: pink;
    }
  }
  @include g.sp{
    & > div{
      background: blue;
    }
  }
}
