@charset "UTF-8";
////////////////////////
// TOP
////////////////////////
.pg-top{
  
}
.pg-top-section{

  display: grid;
  display: flex;
  transform: scale(1);
}

@include max-screen($breakpoint) {

}
