<%
const pageid = 'top';
const relativePath = '.';
%>
<%- include( relativePath + '/assets/include/_head', {pageid,relativePath}); -%>
<%- include( relativePath + '/assets/include/_header', {pageid,relativePath}); -%>
<div class="l-wrapper">
  <div class="p-kv">
    <video width="300" class="p-kv__video" src="/assets/movie/sample.mp4" poster="" playsinline="" muted="" loop="" autoplay="" preload="auto"></video>
  </div>
  <h1>top</h1>
  <div class="pg-top-section">
    文字
  </div>
  <ul class="p-list">
    <li>「My liage」「My liage」「My liage」「My liage」</li>
    <li>あいうえお</li>
    <li>春夏秋冬</li>
  </ul>
  <div id="app"></div>
  <!-- Slider main container -->
  <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
  </div>
</div>
<%- include( relativePath + '/assets/include/_footer',{pageid,relativePath}); -%>
