<%
  const page = {
    id: 'top',
    class: 'top',
    title: 'top title',
    description: 'top description',
    ogp: '',
  }
%>
<%- include( relativePath + 'assets/include/_head', {page}); -%>
<%- include( relativePath + 'assets/include/_header', {page}); -%>
<div class="l-wrapper">
  <!-- contents start -->
  <!-- kv -->
  <div class="pg-top-kv">
    <video width="300" class="p-kv__video" src="/assets/movie/sample.mp4" poster="" playsinline="" muted="" loop="" autoplay="" preload="auto"></video>
  </div>
  <!--/ kv  -->
  <!-- news -->
  <section class="pg-top-section">
    <h2 class="c-title pg-top-section__title">NEWS</h2>
    <div class="p-list">
      <article class="p-list__child">
        <a class="p-list__link" href='/news/detail/'>
          <div class="p-list__info">
            <time>2021年4月11日</time>
            <span>お知らせ</span>
          </div>
          <h3 class="p-list__title">
            ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
          </h3>
        </a>
      </article>
      <article class="p-list__child">
        <a class="p-list__link" href='/news/detail/'>
          <div class="p-list__info">
            <time>2021年4月11日</time>
            <span>お知らせ</span>
          </div>
          <h3 class="p-list__title">
            ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
          </h3>
        </a>
      </article>
      <article class="p-list__child">
        <a class="p-list__link" href='/news/detail/'>
          <div class="p-list__info">
            <time>2021年4月11日</time>
            <span>お知らせ</span>
          </div>
          <h3 class="p-list__title">
            ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
          </h3>
        </a>
      </article>
    </div>
  </section>
  <!--/ news -->

  <!-- blog -->
  <section class="pg-top-section">
    <h2 class="c-title pg-top-section__title">BLOG</h2>
    <div class="p-card">
      <article class="p-card__child">
        <a class="p-card__link" href='/blog/detail/'>
          <div class="p-card__photo">
            <img src="/assets/img/_dummy/thumb.png" alt="">
          </div>
          <div class="p-card__body">
            <time class="p-card__time">2021年4月11日</time>
            <ul class="p-card__tag">
              <li>#タグ1</li>
              <li>#タグ2</li>
            </ul>
            <h3 class="p-card__title">
              ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
            </h3>
          </div>
        </a>
      </article>
      <article class="p-card__child">
        <a class="p-card__link" href='/blog/detail/'>
          <div class="p-card__photo">
            <img src="/assets/img/_dummy/thumb.png" alt="">
          </div>
          <div class="p-card__body">
            <time class="p-card__time">2021年4月11日</time>
            <ul class="p-card__tag">
              <li>#タグ1</li>
              <li>#タグ2</li>
            </ul>
            <h3 class="p-card__title">
              ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
            </h3>
          </div>
        </a>
      </article>
      <article class="p-card__child">
        <a class="p-card__link" href='/blog/detail/'>
          <div class="p-card__photo">
            <img src="/assets/img/_dummy/thumb.png" alt="">
          </div>
          <div class="p-card__body">
            <time class="p-card__time">2021年4月11日</time>
            <ul class="p-card__tag">
              <li>#タグ1</li>
              <li>#タグ2</li>
            </ul>
            <h3 class="p-card__title">
              ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました ウェブサイトをリニューアルしました
            </h3>
          </div>
        </a>
      </article>
    </div>
  </section>
  <!--/ blog -->

  <!-- react -->
  <div id="app"></div>
  <!--/ react -->



<h2>picture</h2>
<picture>
  <source media="(min-width:1100px)" srcset="/assets/img/a.png">
  <source media="(max-width:1099px)" srcset="/assets/img/b.png">
  <img src="/assets/img/a.png" alt="">
</picture>

  <h2>object-fit</h2>
  <div class="p-photos">
    <div class="p-photo">
      <img class="is-objectFit-cover" src='/assets/img/free.jpg' alt=''>
    </div>
    <div class="p-photo">
      <img class="is-objectFit-cover" src='/assets/img/free.jpg' alt=''>
    </div>
    <div class="p-photo">
      <img class="is-objectFit-cover" src='/assets/img/free.jpg' alt=''>
    </div>
    <div class="p-photo">
      <img class="is-objectFit-cover" src='/assets/img/free.jpg' alt=''>
    </div>
    <div class="p-photo">
      <img class="is-objectFit-cover" src='/assets/img/free.jpg' alt=''>
    </div>
  </div>
  <!-- swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Slide 1</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div>
  <!--/ swiper -->
  <h2>Intersection Observer & position sticky</h2>
  <div class="p-boxWrep">
    <div class="p-boxMain">
      <% [...new Array(5)].forEach((element,i) => { %>
        <div class="p-box" data-id="<%- i+1 %>"><%- i+1 %></div>
      <% }); %>
    </div>
    <div class="p-boxSub">
      <div class="p-boxNav is-sticky"></div>
    </div>
  </div>
  <!-- contents end -->
</div>
<%- include( relativePath + 'assets/include/_footer',{page}); -%>
