<%
  const page = {
    id: 'detail',
    class: 'detail',
    script: 'detail',
    title: '',
    description: '',
    ogp: '',
  }
%>
<%- include( relativePath + 'assets/include/_topIncludes', {page, relativePath}); -%>
<div class="l-wrapper">
  <!-- ///////// contents start ///////// -->
    <div class="pg-detail">
      <h1>detail</h1>
      <p>My page</p>
      <div class="pg-detail__box"></div>
    </div>
  <!-- ///////// contents end ///////// -->
</div>
<%- include( relativePath + 'assets/include/_bottomIncludes',{page}); -%>
